h1 {
  text-align: center;
  color: cornflowerblue;
}

h2 {
  text-align: center;
  color: skyblue;
  font-size: 5em;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
  text-align: center;
  text-underline-offset: 4px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

.showplaces {
  display: flex;
  flex-direction: row;
}

.aligner {
  text-align: center;
  margin-left: 25px;
  margin-top: 25px;
}

.aligner2 {
  text-align: center;
  margin-left: 75px;
  margin-top: 25px;
}

.aligner2 h1 {
  font-size: 8em;
}

.comments {
  margin-top: 50px;
  font-size: 6em;
  color: skyblue;
}